@keyframes busqueda{
        0%{
               right: 5px;
        }
        25%{
                right: 10px;
        }
        50%{
                right: 15px;
            
        }
        75%{
                right: 20px;

        }
        100%{
                right: 25px;
        }
}

@keyframes logo{
0%{
      
        left:100px;
}
25%{
        transform: rotate(180deg);
        left:400px;

}
75%{
        transform: rotate(270deg);
        left:500px;

}
100%{
        transform: rotate(360deg);
        left:800px;

}
}
@keyframes logo2{
        0%{
              
                right:100px;
        }
        25%{
                transform: rotate(180deg);
                right:400px;
        
        }
        75%{
                transform: rotate(270deg);
                right:500px;
        
        }
        100%{
                transform: rotate(360deg);
                right:800px;
        
        }
        }
@keyframes animacion{
0%   {
    
        left: 0px;
       opacity: 0.9;
}
25%  {
      
        left:500px;
       opacity: 0.8;
}
50%  { 
       
        left:600px; 
        opacity: 0.6;
}
75%  {
        left: 700px; 
        opacity: 0.8;
}
100% { 
        left: 300px; 
        opacity: 0.9;
}
}
@keyframes animacion2{
        0%   {
            
              right: 0px;
              opacity: 0.9;
        }
        25%  {
              
                right:500px;
                opacity: 0.8;
        }
        50%  { 
               
                 right:600px; 
                 opacity: 0.6;
        }
        75%  {
                right: 700px; 
                opacity: 0.8;
        }
        100% { 
                right: 300px; 
                opacity: 0.9;
        }
        }
        
        

header{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        width: 100%;
        height:200px;
        background-image: url("web01.jpg");
        background-color: rgb(143, 139, 139);
        margin: 0;
        
        opacity: 0.6;
        z-index: -1;
        position: relative;
        justify-content: space-between;

}

#logo{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
      
}

#logo img{
        position: absolute;
        align-self: center;
        width:200px;
        height:200px;
        text-rendering: optimizeLegibility;
        border-radius: 100%;
        animation: logo 2s infinite;
        z-index: 1;

}
#logo2{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-self: center;  
        margin: 0;
        justify-self: flex-end;

      
}

#logo2 img{
        position: absolute;

        justify-self: center;
        align-self: center;
        width:200px;
        height:200px;
        border-radius: 100%;
        animation: logo2 2s infinite;
        z-index: 1;

}

#navegar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 50px;
        background-color: #ccc;
        justify-content: center;
}

#navegar nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-self: center;
        width: 100%;
}

#navegar nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        width: 100%;
        justify-content: space-around;
}

#navegar nav ul li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        list-style: none;
}

.boton{
        transition: ease-in-out 1s;
        width: 150px;
        height:40px;
        background-color: rgb(143, 139, 139);
        font: bold 15px  verdana;
        z-index: 25;
        border-radius: 10px;
}

.boton:hover{
        background-color:aquamarine;
        cursor: pointer;
}
.buscar{
        margin-right: 2px;
        border-radius: 10px;
        font-family: fantasy;
        text-align: center;
        opacity: 0.6;
}
li#busqueda{
        position: relative;
}
#busqueda{
position: absolute;
}
#busqueda:active{
       float:right;
}
#titulo{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        justify-content: center;
        width:100%;
        height:50px;
        background-color: rgb(143, 139, 139);
        margin-top: 0px;
}

#titulo h1{
        align-self: center;
        font: bold 25px verdana;
        color: #ccc;
        z-index: 15;
}

#box_presentacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
#box_presentacion #presentacion{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: center; 
        width: 100%;
        height:500px;
        background-color: aquamarine;
        position: relative;
        align-self: center;
        z-index: -1;
}


#presentacion #imagenes1{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        background-image: url('web.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        height: 500px;
        z-index:-1;
        position: absolute;
        animation: animacion2 5s  infinite;
}
#presentacion #imagenes{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        background-image: url('web.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        height: 500px;
        z-index:-1;
        position: absolute;
        animation: animacion 5s  infinite;
}
#presentacion #imagenes2{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        background-image: url('web01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        height: 500px;
        z-index:-1;
        position: absolute;
}
#presentacion  div{
        align-self: center;
       z-index: 1;
  
        font-family:Arial, Helvetica, sans-serif;
}
#presentacion  div p{
        zoom: 1.5;
        z-index: 2;
}
section  footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 75px;
        justify-content: center;
        background-color: #ccc;
}
section  footer nav{
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
}

section  footer nav ul{

        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
}
section  footer nav ul li{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-self: center;
        justify-self: center;
        list-style: none;
        width:200px;
        height: 40px;

}
section  footer nav ul li img{
        transition: ease-in-out 1s;
        width:60px;
        height:40px;
        background-color: rgb(143, 139, 139);
        font: bold 15px  verdana;
        z-index: 25;
        border-radius: 10px;
}
section  footer nav ul li :hover{
        background-color:aquamarine;
        cursor: pointer;
}